# This is a .gitignore file for C projects
# -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*
!*/
# -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
# We use a BLACK-LIST for folders
[Bb]in/
[Oo]bj/
[Ll]ib/

# -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
# We use a WHITE-LIST for files

# Repository files
!.git*
!*.md
!*.yml
!*.sh

# Building files
!Makefile
!*.mk
!configure

# Source files
!*.h
!*.c
!*.asm
!*.s

